[Unit]
Description=Reverb docker-compose server
After=docker.service
Requires=docker.service

[Service]
User={{ reverb_user }}
Group={{ reverb_group }}
WorkingDirectory={{ reverb_dir }}
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target