[Unit]
Description=Docker Compose PostgreSQL Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ docker_postgres_dir }}
ExecStart=/usr/local/bin/docker-compose -f {{ docker_postgres_dir }}/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f {{ docker_postgres_dir }}/docker-compose.yml down
Restart=always
User=root

[Install]
WantedBy=multi-user.target
