# Git Ignore File - Add whatever is needed here

# Mac Files
.DS_Store

# Ansible Retry Files
*.retry

# Ansible Vault Password file
.vault_pass

# Ansible navigator logs
ansible-navigator.log

# venv
venv/*
.venv/*
collections/marcus_grant/dotfiles/venv/*
**/venv/*
**/.venv/*
**/venv/
**/venv/


# collections cache
*.tar.gz
*.tar.bz2
*.tar.zstd
*.tar.zst
*.tar.xz
