RESTIC_PSQL_DOCKER_NET={{ restic_postgres_docker_net }}
RESTIC_PSQL_PGUSER={{ restic_postgres_pguser }}
RESTIC_PSQL_PGPASSWORD={{ restic_postgres_pgpassword }}
RESTIC_PSQL_PGHOST={{ restic_postgres_pghost }}
RESTIC_PSQL_B2_ACCOUNT_ID={{ restic_postgres_b2_app_key_id }}
RESTIC_PSQL_B2_ACCOUNT_KEY={{ restic_postgres_b2_app_key }}
RESTIC_PSQL_REPOSITORY={{ restic_postgres_repo }}
RESTIC_PSQL_PASSWORD={{ restic_postgres_repo_password }}
RESTIC_PSQL_MACHINE_HOSTNAME={{ restic_postgres_machine_hostname }}
RESTIC_PSQL_KEEP_LAST={{ restic_postgres_keep_last }}
RESTIC_PSQL_KEEP_DAILY={{ restic_postgres_keep_daily }}
RESTIC_PSQL_KEEP_WEEKLY={{ restic_postgres_keep_weekly }}
RESTIC_PSQL_KEEP_MONTHLY={{ restic_postgres_keep_monthly }}
RESTIC_PSQL_KEEP_YEARLY={{ restic_postgres_keep_yearly }}