[Unit]
Description=Restic backup of PostgreSQL using dump all
After=docker.service

[Service]
Type=simple
ExecStart={{ restic_postgres_dir }}/restic-postgres-backup.sh
Restart=on-failure
