; {{ ansible_managed }}
[Unit]
Description=Use Reverb client to update Cloudflare DDNS with public IP
Documentation=https://github.com/marcus-grant/reverb
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure

; User and group the process will run as.
User=root
Group=sudo

; File to execute with args or env
ExecStart={{ reverb_ddns_bin }}

; Limit the number of file descriptors; see `man systemd.exec` for more limit settings.
; LimitNOFILE=1048576
; Limit the number of caddy threads.
LimitNPROC=1

; Hide /home, /root, and /run/user. Nobody will steal your SSH-keys.
ProtectHome=true
; Make /usr, /boot, /etc and possibly some more folders read-only.
ProtectSystem=full
ReadWriteDirectories={{ reverb_ddns_log_dir }}

; Environment=
; EnvironmentFile=

[Install]
WantedBy=multi-user.target