; {{ ansible_managed }}
[Unit]
Description=Use Reverb client to update Cloudflare DDNS with public IP
Documentation=https://github.com/marcus-grant/reverb
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

{% if reverb_ddns_on_active_timer | length > 1 %}
[Timer]
OnBootSec=1min
OnUnitActiveSec={{ reverb_ddns_on_active_timer }}
{% elif reverb_ddns_on_calendar | length > 1 %}
[Timer]
OnCalendar={{ reverb_ddns_on_calendar }}
Persistent=true
{% endif %}

[Service]
Restart=on-failure

; User and group the process will run as.
User=root
Group=sudo

ExecStart="/usr/bin/env python3 /usr/lib/reverb/reverb.py ddns set \
--server {{ reverb_ddns_url }} \
--ddns-zone {{ reverb_ddns_zoneid }} \
--ddns-auth {{ reverb_ddns_auth }}"
ExecReload="/usr/bin/env python3 /usr/lib/reverb/reverb.py ddns set \
--server {{ reverb_ddns_url }} \
--ddns-zone {{ reverb_ddns_zoneid }} \
--ddns-auth {{ reverb_ddns_auth }}"

; Limit the number of file descriptors; see `man systemd.exec` for more limit settings.
; LimitNOFILE=1048576
; Limit the number of caddy threads.
LimitNPROC=1

; Hide /home, /root, and /run/user. Nobody will steal your SSH-keys.
ProtectHome=true
; Make /usr, /boot, /etc and possibly some more folders read-only.
ProtectSystem=full
ReadWriteDirectories={{ reverb_ddns_log_dir }}

; Environment=
; EnvironmentFile=

[Install]
WantedBy=multi-user.target