# profile.d/10-userdirs.sh
# managed by ansible role marcus_grant.dotfiles.userdirs

# XDG directory (re-)definitions
{% if userdirs_xdg_bin_home | length > 0 %}
XDG_BIN_HOME="$HOME/{{ userdirs_xdg_bin_home }}"
{% endif %}
{% if userdirs_xdg_data_home | length > 0 %}
XDG_DATA_HOME="$HOME/{{ userdirs_xdg_data_home }}"
{% endif %}
{% if userdirs_xdg_config_home | length > 0 %}
XDG_CONFIG_HOME="$HOME/{{ userdirs_xdg_config_home }}"
{% endif %}
{% if userdirs_xdg_cache_home | length > 0 %}
XDG_CACHE_HOME="$HOME/{{ userdirs_xdg_cache_home }}"
{% endif %}
{% if userdirs_xdg_runtime_dir | length > 0 %}
XDG_RUNTIME_DIR="$HOME/{{ userdirs_xdg_runtime_dir }}"
{% endif %}

