[Unit]
Description=pgAdmin

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/docker-compose -f {{ pgadmin_compose_file}} up -d
ExecStop=/usr/local/bin/docker-compose -f {{ pgadmin_compose_file}} stop
ExecReload=/usr/local/bin/docker-compose -f {{ pgadmin_compose_file}} restart

[Install]
WantedBy=multi-user.target