[Unit]
Description=pgAdmin

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/docker-compose -f /etc/docker/compose/pgadmin.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /etc/docker/compose/pgadmin.yml stop
ExecReload=/usr/local/bin/docker-compose -f /etc/docker/compose/pgadmin.yml restart

[Install]
WantedBy=multi-user.target