[Unit]
Description=Docker Compose PostgreSQL RDBMS Service
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker-compose -f {{ docker_postgres_compose_file }} up
ExecStop=/usr/local/bin/docker-compose -f {{ docker_postgres_compose_file }} down
Restart=always
User=root

[Install]
WantedBy=multi-user.target
