[Unit]
Description=Periodic backup of Docker volumes using Restic

[Service]
ExecStart={{ restic_docker_dir }}/restic-docker-backup.sh

[Install]
WantedBy=multi-user.target
