[Unit]
Description=Traefik reverse proxy and certificates manager for docker services
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker-compose -f /opt/traefik/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /opt/traefik/docker-compose.yml down
Restart=always
RestartSec=10
User=root
Group=docker

[Install]
WantedBy=multi-user.target
